@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
a,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

/* -- TYPO -- */

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 0.25em;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

/* -- BTN/LINK -- */
button {
  cursor: pointer;
  color: #f5f7fb;
  background: #4d5b9e;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1em 2em;
  border-radius: 15px;
  margin-top: 1em;
}

/* -- LAYOUT -- */
body {
  font-family: "Karla", sans-serif;
  color: #293264;
  background: url("/background.jpg") white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-blend-mode: luminosity; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  gap: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input,
select {
  font-size: 1.25rem;
  padding: 0.5em;
  width: 100%;
  background-color: #4d5b9e;
  color: whitesmoke;
  text-transform: capitalize;
}

.question {
  padding: 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.answers {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 0.25em 0;
}

.answer {
  border-radius: 20px;
  padding: 0.25em 1em;
  cursor: pointer;
}

.score {
  padding: 1em;
}

/* -- UTILITY -- */
.unmarked {
  border: 1px solid #d6dbf5;
  background: whitesmoke;
}

.marked,
.correct,
.incorrect {
  border: none;
}

.marked {
  background: #d6dbf5;
}

.correct {
  background: #94d7a2;
}

.incorrect {
  background: #f8bcbc;
}

/* -- MEDIA -- */
